REGION=us-east-1
ECR_ACCOUNT_ID={AWS_ECR_ACCOUNTID}
CUSTOMER={WEBSCALE ASSIGNED WATSCO CUSTOMER}
ENVIRONMENT={WEBSCALE ASSIGNED ENVIRONMENT IDENTIFIER}
ECR_REPO_NAME=${CUSTOMER}-dockerbuild
WEBSITE_NAME=www.peirce.com ???
WEBSERVER_NAME=www.peirce.com ???
DEPLOY_TAG={MUST MATCH THE TAG USED TO DEPLOY IN CLUSTER}